#mainBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
}
#textBox {
  height: 10%;
  width: 98%;
  border-radius: 10px;
  border: 3px solid rgb(44, 0, 85);
  font-size: x-large;
  padding: 5px;
  overflow-x: auto;
}

#btnBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas */
  width: 100%;
}

.btnCalc {
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  background-color: #00000000;
  border: 2px solid rgb(44, 0, 85);
}
