@media (min-width: 320px) {
  #mainBox {
    width: 100dvw;
    height: 100dvh;
  }
  #textBox {
    backdrop-filter: blur(10px);
    height: 6%;
  }
  #btnBox {
    height: 50%;
    width: 100%;
  }
  .btnCalc {
    width: 100%;
  }
  #textBox p {
    position: absolute;
    bottom: 1px;
    right: 5px;
  }
}
@media (min-width: 375px) and (max-width: 426px) {
  #mainBox {
    width: 100dvw;
    height: 100dvh;
  }
  #textBox {
    backdrop-filter: blur(10px);
  }
  #btnBox {
    height: 70%;
    width: 100%;
  }
  .btnCalc {
    width: 100%;
  }
}
@media (min-width: 768px) {
  #mainBox {
    width: 90dvw;
    height: 90dvh;
    border-radius: 10px;
    border: 3px solid rgb(44, 0, 85);
    backdrop-filter: blur(8px);
  }
  #btnBox {
    height: 70%;
    width: 98%;
    border-radius: 10px;
    border: 3px solid rgb(44, 0, 85);
  }
  #textBox {
    height: 8%;
  }
}
@media (min-width: 1024px) {
  #mainBox {
    width: 70dvw;
    height: 90dvh;
    border-radius: 10px;
    border: 3px solid rgb(44, 0, 85);
    backdrop-filter: blur(8px);
  }
  .btnCalc {
    transition: all 0.3s ease-in-out;
  }
  .btnCalc:hover {
    transform: scale(0.97);
    border: 2px solid rgb(70, 0, 135);
  }
}
@media (min-width: 1440px) {
  #mainBox {
    width: 50dvw;
    height: 90dvh;
    border-radius: 10px;
    border: 3px solid rgb(44, 0, 85);
    backdrop-filter: blur(8px);
  }
}
@media (min-width: 1535px) {
  #mainBox {
    width: 38dvw;
    height: 90dvh;
    border-radius: 10px;
    border: 3px solid rgb(44, 0, 85);
    backdrop-filter: blur(8px);
  }
  #textBox {
    height: 11%;
  }
}
@media (min-width: 2560px) {
  #mainBox {
    width: 30dvw;
    height: 80dvh;
    border-radius: 10px;
    border: 3px solid rgb(44, 0, 85);
    backdrop-filter: blur(8px);
  }
}
